<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEngineerCalculator1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8083/Simple" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculator1" contract="CalcService.ICalculator"
                name="BasicHttpBinding_ICalculator1" />
            <endpoint address="net.tcp://localhost:45615/Enginer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEngineerCalculator1"
                contract="CalcService.IEngineerCalculator" name="NetTcpBinding_IEngineerCalculator1">
                <identity>
                    <userPrincipalName value="Asus\Natalie" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>